@use "../../../shared/sass/variables" as v;
@use "../../../shared/sass/mixins" as m;

.list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.6rem;
  gap: 2rem;

  &:hover {
    cursor: pointer;
    background-color: #f1f1f1;
  }

  @include m.mq(md) {
    justify-content: center;
    padding: 1.6rem 3.6rem;
  }

  @include m.mq(lg) {
    justify-content: flex-start;
  }

  @include m.mq(ll) {
    padding: 1.6rem 8rem 1.6rem 3.6rem;
  }
}

.list__item-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #b2b2b2;
}

.list__item-title {
  color: v.$secondarySubtitleColor;
  font-family: v.$primaryFont;

  @include m.mq(md) {
    display: none;
  }

  @include m.mq(lg) {
    display: block;
  }
}

.list__item-active {
  @include m.mq(md) {
    justify-content: flex-start;
  }
}

.list__item-title-active {
  @include m.mq(md) {
    display: block;
  }
}