@use "../../../shared/sass/mixins" as m;

.dashboard__layout {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "navbar navbar navbar"
    "content content content"
    "content content content";

  @include m.mq(md) {
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas:
      "sidebar navbar navbar"
      "sidebar content content"
      "sidebar content content";
  }

  @include m.mq(lg) {
    grid-template-areas:
      "sidebar navbar navbar"
      "sidebar content content"
      "sidebar content content";
  }
}

.dashboard__layout-navbar {
  grid-area: navbar;
}

.dashboard__layout-sidebar {
  grid-area: sidebar;
}

.dashboard__layout-content {
  grid-area: content;
}
