@use "../../../shared/sass" as v;

.popover {
  position: relative;
  margin: 0 2rem 0 0;
}

.popover__title {
  width: 2.4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: v.$primaryFont;
  color: v.$tertiaryColor;
  font-size: 1.6rem;
  cursor: pointer;

  @include v.mq(md) {
    // width: 16rem;
  }
}

.title {
  display: none;
}

.arrow-down {
  width: 2.4rem;
  height: 2.4rem;
  color: #737898;
}

.popover__menu {
  width: 16rem;
  font-size: 1.4rem;
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
  color: #303030;
  display: none;
  border-radius: 1.6rem;
  position: absolute;
  background: white;
  right: 0;
  overflow: hidden;
  top: 3rem;
}

.popover__menu-active {
  display: block;
}

.popover__menu--list-item {
  padding: 0.4rem 1.2rem;

  &:hover {
    cursor: pointer;
    background-color: #e4e0e0;
  }
}
