@use "../../../shared/sass/mixins" as m;

.main__logo {
  margin: 2rem auto 6rem auto;

  @include m.mq(md) {
    margin: 4.6rem auto 6rem auto;
  }

  @include m.mq(lg) {
    margin: 2rem auto 6rem auto;
  }
}

.main__logo-title {
  font-size: 3rem;

  @include m.mq(md) {
    font-size: 2rem;
  }

  @include m.mq(lg) {
    font-size: 3.6rem;
  }
}

.main__logo-title-active {
  @include m.mq(md) {
    font-size: 3.6rem;
  }
}
