@use "../../../shared/sass/mixins" as m;

.sidebar {
  display: none;
  border-right: 1px solid #f1f1f1;;

  @include m.mq(md) {
    display: block;
    width: 10%;
    min-width: 9rem;
    height: 100vh;
    background-color: #fafafa;
  }

  @include m.mq(lg) {
    width: 20%;
  }
}
