@use "../../../shared/sass/mixins" as m;

.form__login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  padding: 4rem;
  height: auto;
  min-height: 100vh;

  @include m.mq(md) {
    width: 60rem;
  }
}

.form_login-container {
  width: 100%;
}

.form__avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.form__login-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
}

.form {
  margin: 2rem auto;
}

.form__avatar-container {
  display: flex;
  justify-content: center;
}
.form__avatar {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 10rem;
}
