@use "variables" as v;

h1,
h2,
h3 {
  font-family: v.$primaryFont;
  margin: 0;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.2rem;
}

p, span {
  font-family: v.$secondaryColor;
}
