// FONTS
$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

// COLORS
$primaryTitleColor: "#303030";
$primarySubtitleColor: "#686868";
$secondaryTitleColor: "#303030";
$secondarySubtitleColor: "#686868";
$mainColor: "#FF5151";
$secondaryColor: "#FF9B6A";
$tertiaryColor: "#161E54";
$backgroundColor: "#FAFAFA";
$white: "#ffffff";
$black: "#000000";

// MEDIA QUERIES
$ll: 1450px;
$lg: 1024px;
$md: 768px;
$sm: 640px;
$xs: 400px;

$spacing: 5rem;