@use "../../../shared/sass/variables" as v;

.sidebar__list {
    border: 1px solid red;
}

.sidebar__list-title {
  display: block;
  padding: 0 2rem;
  font-size: 1.2rem;
  color: v.$secondarySubtitleColor;
  font-family: v.$secondaryFont;
  line-height: 1.8rem;
}
