@use "../../../shared/sass/variables" as v;
@use "../../../shared/sass/mixins" as m;

.sidebar__list {
  margin: 3.6rem 0;
}

.sidebar__list-title {
  display: block;
  padding: 0 2rem;
  font-size: 1.2rem;
  color: v.$secondarySubtitleColor;
  font-family: v.$secondaryFont;
  line-height: 1.8rem;
  margin: 0 0 1.4rem 0;
  text-transform: uppercase;

  @include m.mq(md) {
    text-align: center;
  }

  @include m.mq(lg) {
    text-align: left;
  }
}

.sidebar__list-title-active {
  @include m.mq(md) {
    text-align: left;
  }
}
